USE [master]
GO
/****** Object:  Database [Baitap2-sql]    Script Date: 3/30/2025 5:59:33 PM ******/
CREATE DATABASE [Baitap2-sql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hecosodulieu', FILENAME = N'D:\hecosodulieu\hecosodulieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hecosodulieu_log', FILENAME = N'D:\hecosodulieu\hecosodulieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Baitap2-sql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Baitap2-sql]
GO
/****** Object:  Table [dbo].[bomon]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bomon](
	[mabm] [varchar](10) NOT NULL,
	[tenbm] [nvarchar](50) NULL,
	[makhoa] [varchar](10) NULL,
 CONSTRAINT [PK_bomon] PRIMARY KEY CLUSTERED 
(
	[mabm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diem]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diem](
	[id] [varchar](10) NOT NULL,
	[id_dk] [varchar](10) NULL,
	[diem] [float] NULL,
 CONSTRAINT [PK_diem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKMH]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKMH](
	[id_dk] [varchar](10) NOT NULL,
	[malopHP] [varchar](10) NULL,
	[maSV] [varchar](10) NULL,
	[diemthi] [float] NULL,
	[phantramthi] [int] NULL,
 CONSTRAINT [PK_DKMH] PRIMARY KEY CLUSTERED 
(
	[id_dk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giaovien]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giaovien](
	[magv] [varchar](10) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[mabm] [varchar](10) NULL,
 CONSTRAINT [PK_giaovien] PRIMARY KEY CLUSTERED 
(
	[magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gvcn]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gvcn](
	[malop] [varchar](10) NOT NULL,
	[maGV] [varchar](10) NOT NULL,
	[hk] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_gvcn_1] PRIMARY KEY CLUSTERED 
(
	[malop] ASC,
	[maGV] ASC,
	[hk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[makhoa] [varchar](10) NOT NULL,
	[tenkhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_khoa] PRIMARY KEY CLUSTERED 
(
	[makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[malop] [varchar](10) NOT NULL,
	[tenlop] [varchar](10) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lopHP]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lopHP](
	[malopHP] [varchar](10) NOT NULL,
	[tenlopHP] [nvarchar](50) NULL,
	[hk] [nvarchar](50) NULL,
	[mamon] [varchar](10) NULL,
	[magv] [varchar](10) NULL,
 CONSTRAINT [PK_lopHP] PRIMARY KEY CLUSTERED 
(
	[malopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lopSV]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lopSV](
	[malop] [varchar](10) NULL,
	[maSV] [varchar](10) NULL,
	[chucvu] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[mamon] [varchar](10) NOT NULL,
	[tenmon] [varchar](10) NULL,
	[stc] [varchar](10) NULL,
 CONSTRAINT [PK_monhoc] PRIMARY KEY CLUSTERED 
(
	[mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 3/30/2025 5:59:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[masv] [varchar](10) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
 CONSTRAINT [PK_sinhvien] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bomon]  WITH CHECK ADD  CONSTRAINT [FK_bomon_khoa] FOREIGN KEY([makhoa])
REFERENCES [dbo].[khoa] ([makhoa])
GO
ALTER TABLE [dbo].[bomon] CHECK CONSTRAINT [FK_bomon_khoa]
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD  CONSTRAINT [FK_diem_DKMH] FOREIGN KEY([id_dk])
REFERENCES [dbo].[DKMH] ([id_dk])
GO
ALTER TABLE [dbo].[diem] CHECK CONSTRAINT [FK_diem_DKMH]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_lopHP1] FOREIGN KEY([malopHP])
REFERENCES [dbo].[lopHP] ([malopHP])
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [FK_DKMH_lopHP1]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_sinhvien] FOREIGN KEY([maSV])
REFERENCES [dbo].[sinhvien] ([masv])
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [FK_DKMH_sinhvien]
GO
ALTER TABLE [dbo].[giaovien]  WITH CHECK ADD  CONSTRAINT [FK_giaovien_bomon] FOREIGN KEY([mabm])
REFERENCES [dbo].[bomon] ([mabm])
GO
ALTER TABLE [dbo].[giaovien] CHECK CONSTRAINT [FK_giaovien_bomon]
GO
ALTER TABLE [dbo].[gvcn]  WITH CHECK ADD  CONSTRAINT [FK_gvcn_giaovien] FOREIGN KEY([maGV])
REFERENCES [dbo].[giaovien] ([magv])
GO
ALTER TABLE [dbo].[gvcn] CHECK CONSTRAINT [FK_gvcn_giaovien]
GO
ALTER TABLE [dbo].[gvcn]  WITH CHECK ADD  CONSTRAINT [FK_gvcn_LOP] FOREIGN KEY([malop])
REFERENCES [dbo].[LOP] ([malop])
GO
ALTER TABLE [dbo].[gvcn] CHECK CONSTRAINT [FK_gvcn_LOP]
GO
ALTER TABLE [dbo].[lopHP]  WITH CHECK ADD  CONSTRAINT [FK_lopHP_giaovien] FOREIGN KEY([magv])
REFERENCES [dbo].[giaovien] ([magv])
GO
ALTER TABLE [dbo].[lopHP] CHECK CONSTRAINT [FK_lopHP_giaovien]
GO
ALTER TABLE [dbo].[lopHP]  WITH CHECK ADD  CONSTRAINT [FK_lopHP_monhoc] FOREIGN KEY([mamon])
REFERENCES [dbo].[monhoc] ([mamon])
GO
ALTER TABLE [dbo].[lopHP] CHECK CONSTRAINT [FK_lopHP_monhoc]
GO
ALTER TABLE [dbo].[lopSV]  WITH CHECK ADD  CONSTRAINT [FK_lopSV_LOP] FOREIGN KEY([malop])
REFERENCES [dbo].[LOP] ([malop])
GO
ALTER TABLE [dbo].[lopSV] CHECK CONSTRAINT [FK_lopSV_LOP]
GO
ALTER TABLE [dbo].[lopSV]  WITH CHECK ADD  CONSTRAINT [FK_lopSV_sinhvien] FOREIGN KEY([maSV])
REFERENCES [dbo].[sinhvien] ([masv])
GO
ALTER TABLE [dbo].[lopSV] CHECK CONSTRAINT [FK_lopSV_sinhvien]
GO
ALTER TABLE [dbo].[bomon]  WITH CHECK ADD  CONSTRAINT [CK_mabm] CHECK  (([mabm]>='cntt1'))
GO
ALTER TABLE [dbo].[bomon] CHECK CONSTRAINT [CK_mabm]
GO
ALTER TABLE [dbo].[diem]  WITH CHECK ADD  CONSTRAINT [CK_diem] CHECK  (([diem]>=(0.0) AND [diem]<=(10.0)))
GO
ALTER TABLE [dbo].[diem] CHECK CONSTRAINT [CK_diem]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [CK_diemthi] CHECK  (([diemthi]>=(0.0) AND [diemthi]<=(10.0)))
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [CK_diemthi]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [CK_phantramthi] CHECK  (([phantramthi]>=(0) AND [phantramthi]<=(10)))
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [CK_phantramthi]
GO
ALTER TABLE [dbo].[giaovien]  WITH CHECK ADD  CONSTRAINT [CK_magv] CHECK  (([magv]>='gv1'))
GO
ALTER TABLE [dbo].[giaovien] CHECK CONSTRAINT [CK_magv]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [CK_LOP] CHECK  (([malop]>='MK01'))
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [CK_LOP]
GO
ALTER TABLE [dbo].[monhoc]  WITH CHECK ADD  CONSTRAINT [CK_mamon] CHECK  (([mamon]>='M01'))
GO
ALTER TABLE [dbo].[monhoc] CHECK CONSTRAINT [CK_mamon]
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD  CONSTRAINT [CK_masv] CHECK  (([masv]>='MSV01'))
GO
ALTER TABLE [dbo].[sinhvien] CHECK CONSTRAINT [CK_masv]
GO
USE [master]
GO
